* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.countDetails {
  padding: 10px;
  height: 100vh;
}

.backKeydet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ee0b62;
  height: 50px;
}

.countName:hover {
  font-size: 50px;
  color: rgb(61, 66, 63);
}

.direction_keyd {
  width: 30px;
}

.set {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.settings,
.microphone {
  width: 20px;
}

.summary {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 370px;
  border: 2px solid red;
  background: #ea4a88;
}

.summary:hover {
  background: white;
}

.flag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20rem;
  width: 60%;
  height: auto;
  padding: 0;
}

.cdetailCont {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48vh;
}

.listing {
  display: flex;
  width: 100%;
  height: 63px;
  background: #78133a;
}

.listing:hover {
  border: 4px solid #ee0b62;
}

.listing:nth-child(even) {
  background: #3e1827;
}

.detailItem2,
.detailItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-right: 10px;
  font-size: 30px;
  border-left: 2px solid black;
  padding: 2px;
}

.detailItem2:hover {
  background: #ea4a88;
}

@media screen and (min-width: 768px) {
  .countDetails {
    display: flex;
    justify-content: center;
    height: 100vh;
    background: pink;
  }

  .fullLen {
    width: 70%;
  }
}
